{% extends "base.html.twig" %}

{% block title %}Session{% endblock %}

{% block body %}


<h1>
    Kortlek - Dra ett Kort
</h1>

<p>Kort i leken: {{ countCards }}</p>

<ul>
    {% for korten in hand %}
        <li>{{ korten }}</li>
    {% endfor %}
</ul>

{% endblock %}

