{% extends "base.html.twig" %}

{% block title %}Session{% endblock %}

{% block body %}


<h1>
    Kortlek - Blandas
</h1>

<ul>
    {% for korten in allaKort %}
        <li>{{ korten }}</li>
    {% endfor %}
</ul>

{% endblock %}

