{% extends "base.html.twig" %}

{% block title %}Session{% endblock %}

{% block body %}
<div class="shuffle-deck-container">
    <header class="shuffle-deck-header">
        <h1>Kortlek - Blandas</h1>
    </header>

    <section class="shuffled-cards">
        <ul>
            {% for korten in allaKort %}
                <li class="shuffled-card">{{ korten }}</li>
            {% endfor %}
        </ul>
    </section>
</div>
{% endblock %}
