{% extends "base.html.twig" %}

{% block title %}Session{% endblock %}

{% block body %}

<h1>Kortlek</h1>
<ul>
    {% for kort in allaKort %}
        <li>{{ kort }}</li>
    {% endfor %}
</ul>

{% endblock %}

