{% extends "base.html.twig" %}

{% block title %}Session{% endblock %}

{% block body %}

<h1>Deck of Cards</h1>
<ul>
    {% for cards in allCards %}
        <li>{{ cards }}</li>
    {% endfor %}
</ul>

{% endblock %}

