{% extends "base.html.twig" %}

{% block title %}Session{% endblock %}

{% block body %}
<div class="deck-container">
    <header class="deck-header">
        <h1>Kortlek</h1>
    </header>

    <section class="deck-list">
        <ul>
            {% for kort in allaKort %}
                <li class="deck-card">{{ kort }}</li>
            {% endfor %}
        </ul>
    </section>
</div>
{% endblock %}
