{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="row">
        <div class="about-col">
            <h1>About</h1>
            <p>Om kursen MVC och dess syfte:</p>
            <p>I kursen lär vi oss att skapa grunden för vårt eget PHP-baserade MVC-inspirerade ramverk. Vi kommer att undersöka befintliga MVC-ramverk, analysera deras struktur och sedan använda den kunskapen för att skapa vårt eget ramverk. Genom att kombinera
            egen kod med befintliga klasser och komponenter kommer vi att kunna skapa ett effektivt ramverk för att snabbt och säkert utveckla webbapplikationer.</p>
        </div>
        <div class="about-col">
            <h1>Repon</h1>
            <p>Länk till kursens repo: <a href="https://github.com/dbwebb-se/mvc">https://github.com/dbwebb-se/mvc</a></p>
            <p>Länk till mitt repo: <a href="https://github.com/Nohj23studentbth/mvc">https://github.com/Nohj23studentbth/mvc</a></p>
        </div>
    </div>
{% endblock %}
