{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Redovisningstexter för kursens kmom</h1>
    <h2 id="kmom01">Kmom01</h2>
    <p>Min tidigare erfarenhet av objektorienterad programmering kan sammanfattas som begränsad. Min erfarenhet från tidigare kurser har gett mig en förståelse, men jag har absolut mer att lära mig.<br><br>

    Där finns en objektorienterad programmeringsmodell där fokus ligger på att arbeta med objekt och deras tillhörande metoder. Centralt handlar det om skapandet av objekt utifrån klasser vilket kan
    jämföras som mallar för objektens beteende och struktur. Det krävs att man har förståelse för konstruktorer, inkapsling och hantering av klassers och objekts variabler.<br><br>

    Strukturen och kodbasen påminner mig mycket om tillvägagångssätt vi använde i PICO under designkursen och hur vi jobbade med Twig, samt vissa saker man kan minnas tillbaka i OOP kursen.
    Det har varit simpelt att följa uppgiften och skapa sidor, mallar och presentera information med hjälp av Symfony. Ramverket verkar även flexibelt.<br><br>

    Det var värdefullt att utforska artikeln “PHP The Right Way” då de intresserade mig i Coding Practices och Templating. Dessa områden har även varit relevanta i kursen
    och givit en viss klarhet. Det var dock mycket jag inte förstod, vilket jag hoppas lossnar under kursens gång!<br><br>

    Min TIL för detta kmom har varit att bekanta mig med ett nytt ramverk "Symfony".
    </p>

{% endblock %}